<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="col-md-12">
        <ul class="nav peach-gradient lighten-3 py-3 mb-4 font-weight-bold z-depth-3">
            <!-- PAS DE HREF, ça ralentit la page -->
            <li class="nav-item">
                <a class="nav-link active white-text" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" routerLink="prive">Privé</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" routerLink="publique">Publique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white-text" routerLink="autre">Autre</a>
            </li>
            <li class="nav-item ml-auto mr-5 my-auto">
                <i class="fas white-text fa-power-off"></i>
            </li>
        </ul>
    </div>
</div>